*{box-sizing: border-box;}
.chat-side{
  width:300px;
  float:left;
  height: calc(100vh - 100px);
&__header{
  background-color:#253141;
  height:100px;
  align-items: center;
  display:flex;
  padding:0 20px;
  &__box{
   display: flex;
   justify-content: space-between;
   width: 100%;
   font-weight: bold;
    &__user-name{
      color:white;
    }
  }
}
&__groups{
  background-color:#2f3e51;
  overflow:scroll;
  height: calc(100vh - 100px);
  align-items:center;
  padding:20px 20px;
  &__group{
  color:white;
  margin-bottom:40px;
   &__group-name{
     margin-bottom:5px;
     font-size:15px;
   }
   &__last-message{
     font-size:11px;
   }
  }
}
}
a { 
color:white;
text-decoration:none;
}

.chat-main{
  float:left;
  height:100vh;
  width: calc(100vw - 300px);
  &__main-header{
  height:100px;
  padding:0 40px;
   &__left-box{
    list-style: none;
    padding-top:40px;
    float:left;
    &__group-name{
      display: block;
      font-size:20px;
      padding-bottom:10px;
    }
    &__member{
      float:left;
      font-size:12px;
      color:#999999;

    }
    &__member-list{
      float:left;
      font-size:12px;
      color:#999999;
    }
    }
   &__btn{
    background-color: transparent;
    border: 1px solid #38aef0;
    float:right;
    width:60px;
    height:40px;
    margin-top:30px;
    text-align: center;
    color:#38aef0;
    padding:6px 30px 0 15px;
   } 
   }

  &__message{
  background-color:#fafafa;
  height: calc(100vh - 190px);
  overflow:scroll;
  padding:46px 40px;
   &__box{
    margin-bottom:40px;
    &__user-name{
    float:left;
    }
    &__date{
    float:left;
    color:gray;
    font-size:12px;
    margin-left:10px;
    }
    &__text{
    clear: both;
    padding-top:10px;
    font-size:14px;
    }
  }
  }
  &__form{
  background-color:#ddd;
  height:90px;
  padding:0 15px;
   &__new-message{
     display:flex;
     padding:18px 5px;
    &__text{
    position: relative;
    height:50px;
    width:100%;
    background-color:white;
    }
    &__upload-label{
      position: absolute;

    }
    &__btn{
    height:50px;
    width:100px;
    margin:0 20px 15px;
    background-color:#38AEF0;
    color:white;
    padding:15px 15px;
    }
   }
  }
}